<div class="container" >
 <br/>
  
  <div class="row z-depth-1">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3">
          <a [class.active]="router.url.indexOf('cards')>-1" [routerLink]="['cards']" id="bt_cards">Cards</a>
        </li>
        <li class="tab col s3">
          <a [class.active]="router.url.indexOf('table')>-1" [routerLink]="['table']" id="bt_table">Table</a>
         </li>
      </ul>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>